<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>영상 관리 페이지</title>

    <link href="../static/bootstrap-4.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="../static/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../static/css/page-default.css" rel="stylesheet">

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/bootstrap-datepicker/locales/bootstrap-datepicker.ko.min.js"></script>

    <script>
        $(function () {
            $('#date').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                disableTouchKeyboard: false,
                immediateUpdates: false,
                showWeekDays: true,
                title: '공연 날짜',
                language: 'ko'
            });
        });
    </script>

    <script type="text/javascript">

        //<![CDATA[
        var insertResult = {{ result| safe }};
        var venues = [];
        var artists = [];

        function signOut() {
            firebase.auth().signOut();
        }

        function makeVenueList(item_list) {
            venues = item_list;
        }

        function makeArtistList(item_list) {
            artists = item_list;
        }

        function initApp() {
            firebase.auth().onAuthStateChanged(function (user) {
                if (user === null) {
                    window.location.href = '/';
                }
            });

            document.getElementById('btn-sign-out').addEventListener('click', signOut, false);

            var toastElement = document.getElementById('toast-body');
            if (insertResult === -1) {
                toastElement.classList.add('bg-success');
                toastElement.innerHTML = '새로운 공연 정보를 추가했습니다.';
                $('.toast').toast('show');
            } else if (insertResult === 1) {
                toastElement.classList.add('bg-danger');
                toastElement.innerHTML = '공연 정보를 추가하지 못했습니다.';
                $('.toast').toast('show');
            } else if (insertResult === 2) {
                toastElement.classList.add('bg-danger');
                toastElement.innerHTML = '공연장 정보가 잘못되어 공연 정보를 추가하지 못했습니다.';
                $('.toast').toast('show');
            }
        }

        window.onload = function () {
            initApp();
        };

        makeVenueList({{ venue_list| safe }});

        makeArtistList({{ artist_list| safe }});

        $(function () {
            $('#venue').autocomplete({
                source: venues,
                focus: function () {
                    return false;
                }
            });
        });

        $(function () {
            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }

            $('#artist-list')
                .on('keydown', function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB && $(this).autocomplete('instance').menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    source: function (request, response) {
                        response($.ui.autocomplete.filter(artists, extractLast(request.term)));
                    },
                    focus: function () {
                        return false;
                    },
                    search: function () {
                        var term = extractLast(this.value);
                        if (term.length < 2) {
                            return false;
                        }
                    },
                    select: function (event, ui) {
                        var terms = split(this.value);
                        terms.pop();
                        terms.push(ui.item.value);
                        terms.push('');
                        this.value = terms.join(', ');

                        return false;
                    }
                });
        });
        //]]>
    </script>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="../static/js/gapi-config.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">영상 관리 페이지</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/insert-perform">새로운 영상</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/insert-event">새로운 공연</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insert-artist">새로운 음악가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insert-venue">새로운 공연장</a>
                </li>
            </ul>
            <button class="btn btn-danger my-2 my-sm-0" id="btn-sign-out">로그아웃</button>
        </div>
    </nav>

    <main role="main" class="container w-50" id="main-container">
        <div>
            <form id="form-details" action="/insert-event" method="post" autocomplete="off">
                <div class="form-group">
                    <label>공연 날짜</label>
                    <input class="form-control" type="text" id="date" name="date" required
                        placeholder="공연 날짜 ex) 2019-12-17">
                </div>
                <div class="form-group">
                    <label>공연장</label>
                    <input class="form-control" type="text" id="venue" name="venue" required placeholder="공연장 이름">
                </div>
                <div class="form-group">
                    <label>음악가 목록</label>
                    <input class="form-control" type="text" id="artist-list" name="artist-list" required
                        placeholder="음악가 이름 ex) 음악가1, 음악가2, ..., 음악가n">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary my-2 my-sm-0" id="btn-insert-perform">추가하기</button>
                </div>
            </form>
        </div>
        <div class="toast" data-delay="5000">
            <div class="toast-body text-white" id="toast-body">
            </div>
        </div>
    </main>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>

    <script src="../static/js/developer.js"></script>
</body>

</html>