<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>영상 관리 페이지</title>

    <link href="../static/bootstrap-4.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/page-default.css" rel="stylesheet">

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        var insertResult = {{ result| safe }};

        function signOut() {
            firebase.auth().signOut();
        }

        function initApp() {
            firebase.auth().onAuthStateChanged(function (user) {
                if (user === null) {
                    window.location.href = '/';
                }
            });

            document.getElementById('btn-sign-out').addEventListener('click', signOut, false);

            var toastElement = document.getElementById('toast-body');
            if (insertResult === -1) {
                toastElement.classList.add('bg-success');
                toastElement.innerHTML = '새로운 음악가를 추가했습니다.';
                $('.toast').toast('show');
            } else if (insertResult === -2) {
                toastElement.classList.add('bg-info');
                toastElement.innerHTML = '이미 추가된 음악가입니다.';
                $('.toast').toast('show');
            } else if (insertResult === 1) {
                toastElement.classList.add('bg-danger');
                toastElement.innerHTML = '음악가를 추가하지 못했습니다.';
                $('.toast').toast('show');
            }
        }

        window.onload = function () {
            initApp();
        };
    </script>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="../static/js/gapi-config.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">영상 관리 페이지</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/insert-perform">새로운 영상</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insert-event">새로운 공연</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/insert-artist">새로운 음악가</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/insert-venue">새로운 공연장</a>
                </li>
            </ul>
            <button class="btn btn-danger my-2 my-sm-0" id="btn-sign-out">로그아웃</button>
        </div>
    </nav>

    <main role="main" class="container w-50" id="main-container">
        <div>
            <form id="form-details" action="/insert-artist" method="post" autocomplete="off">
                <div class="form-group">
                    <label>음악가</label>
                    <input class="form-control" type="text" id="artist" name="artist" autofocus required placeholder="음악가 이름">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary my-2 my-sm-0" id="btn-insert-perform">추가하기</button>
                </div>
            </form>
            <div class="toast" data-delay="5000">
                <div class="toast-body text-white" id="toast-body">
                </div>
            </div>
        </div>
        <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseArtist"
            aria-expanded="false" aria-controls="collapseExample">
            추가된 음악가 보기
        </button>
        <div class="collapse" id="collapseArtist">
            <div class="card card-body">
                {{ artist_list| safe }}
            </div>
        </div>
    </main>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>

    <script src="../static/js/developer.js"></script>
</body>

</html>